{# {% extends 'base.html.twig' %} #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome to Rio
          !{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/stylesheet.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('https://cdn.datatables.net/1.10.12/css/jquery.dataTables.css') }}">
  
        <script type="text/javascript" src="{{ asset('js/jquery-2.2.3.min.js') }}" ></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}" ></script>
        <script src="{{ asset('https://code.highcharts.com/highcharts.js')}}"></script>
        <script src="{{ asset('https://code.highcharts.com/modules/exporting.js')}}"></script>
        <script type="text/javascript" src="{{ asset('js/onglet.js') }}" ></script>   
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

{% trans_default_domain 'FOSUserBundle' %}


{% block body %}

<div class="container_fluid">
  <div class="col-md-12 up">
    
          
          <a href="#openModal"><p class="connect">Se connecter</p></a>
          <div id="openModal" class="modalbook">
            

              
              <div class="col-md-4 "><a href="#close" title="Close" class="close">X</a>{{ render(controller('AppBundle:Security:login')) }}
                  {# <h2>Connexion</h2>
                  <hr/>
                  <p> Username : </p>
                  <input  placeholder="Username"/> 
                   <p> password : </p>
                  <input  placeholder="Password"/>
                  <hr/>
                  <input type="submit" class="btn-lg btn-info" value="Se Connecter"/>  #}  
              </div>
                          
          </div>
        
  </div>

  <div class="col-md-12 row mid">
    <h2>Prochaines Epreuves</h2>
      <div class="col-md-1 vide"></div>
      <div class="col-md-3 art">
          <div class="col-md-12">
              <img  src="{{ asset ('img/nat.jpg') }}" />
          </div>
          <div class="col-md-12 txt">{# Bla blaBla blaBla blaBla blaBla blaBla blaBla blaBla bla #}{{ epreufe.texte }}
          </div>
          <div class="col-md-12 voir"><a href="{{ path('epreuves', { 'idepreuves': epreuves.id }) }}"><img  src="{{ asset ('img/voir.png') }}" /></a></div>
      </div>
      {# <div class="col-md-1 vide"></div> #}
      <div class="col-md-3 art">
        <div class="col-md-12">
          <img  src="{{ asset ('img/esc.jpg') }}" />
        </div>
        <div class="col-md-12 txt">Bla blaBla blaBla blaBla blaBla blaBla blaBla blaBla blaBla bla
        </div><div class="col-md-12 voir"><a href="{{ path('epreuves') }}"><img  src="{{ asset ('img/voir.png') }}" /></a></div>
      </div>
      {# <div class="col-md-1 vide"></div> #}
      <div class="col-md-3 art">
        <div class="col-md-12">
          <img  src="{{ asset ('img/golf.jpg') }}" />
        </div>
        <div class="col-md-12 txt">Bla blaBla blaBla blaBla blaBla blaBla blaBla blaBla blaBla bla
        </div><div class="col-md-12 voir"><a href="{{ path('epreuves') }}"><img  src="{{ asset ('img/voir.png') }}" /></a></div>
      </div>
      <div class="col-md-1 vide"></div>
  </div>
  <div class="col-md-12 down">
      <div class="col-md-1 vide"></div>
      <div class="col-md-6 yt"><iframe height="300" width="550" src="https://www.youtube.com/embed/videoseries?list=" frameborder="0" allowfullscreen></iframe></div>
      <div class="col-md-4 comment"><p class="tt">Bla bla<br />Bla bla<br />Bla bla<br />Bla bla<br />Bla bla<br />Bla bla<br />Bla bla<br />Bla bla<br />Bla bla<br />Bla bla<br />Bla bla<br /></p></div>
      <div class="col-md-1 vide"></div>
  </div>
  <div class="col-md-12 ecart"></div>
  <div class="col-md-12 footer">
    <div class="col-md-3 vide"></div>
    <div class="col-md-1 logo"><img  src="{{ asset ('img/fb.png') }}" /></div>
    <div class="col-md-1 logo"><img  src="{{ asset ('img/g.png') }}" /></div>
    <div class="col-md-1 logo"><img  src="{{ asset ('img/t.png') }}" /></div>
    <div class="col-md-3 vide"></div>
  </div>


    

{% endblock %}
</html>